<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ToDoList</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>

<h1>It's a <%= kindOfDay %> </h1>
<h2>Here is your ToDoList</h2>
<ul>
    <% items.forEach(function(item){ %>
        <li><%= item %></li>
    <% }); %>
</ul>
<hr>
<form action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item">
    <button type="submit">Add a Task</button>
</form>

</body>
</html>
