html {
    background-color: #1a1a1a;
    min-height: 100vh;
    font-family: 'helvetica neue';
    color: #fff;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: #2b2b2b;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(255, 255, 255, 0.3);
}

#heading {
    background-color: #4527a0;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: #4527a0;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}

form {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #4527a0;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    cursor: pointer;
}

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(69, 39, 160, 0.75);
    }
}

button:hover, button:focus, button:active {
    animation-name: hvr-back-pulse;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: rgba(69, 39, 160, 0.75);
    color: #fff;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    color: #fff;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #4527a0;
}

::placeholder {
    color: #aaa;
    opacity: 1;
}

footer {
    text-align: center;
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.5);
}
 