<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quora Kaaghaz</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <div>
            <p>Quora Kaaghaz</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </nav>
